body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(86, 147, 187);
}

h1 {
  color: rgba(139, 106, 6, 0.789);
  text-shadow: 1px 1px black;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2rem;
}

button {
  height: 30px;
  width: 110px;
  text-align: center;
  background-color: rgba(146, 115, 22, 0.8);
  border-radius: 5px;
}
button:hover {
  background-color: rgba(125, 98, 17, 0.8);
  cursor: pointer;
}

p {
  align-self: center;
  color: rgba(139, 106, 6, 0.789);
  text-shadow: 0.5px 0.5px black;
}

.needListAndBuyedList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amountInputBox {
  width: 70px;
  /* border-radius: 0px 0px 0px 0px; */
}

.inputAndAddNoteButton {
  width: 280px;
  display: flex;
  justify-content: center;
}

.inputAndAddNoteButton button {
  height: 30px;
  /* border-radius: 0px 0px 0px 0px; */
}

.inputAndAddNoteButton input {
  height: 30px;
  /* border-radius: 0px 0px 0px 0px; */
}

.firstNoteContainer {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
  gap: 20px;
}

.firstNoteContainer p {
  color: black;
  text-shadow: none;
}

.content1 {
  background-color: rgb(101, 153, 188);
  border-radius: 7px;
}

.archiveContent {
  background-color: rgb(101, 153, 188);
  border-radius: 7px;
}

.deleteButton {
  height: 18px;
  width: 30px;
  text-align: center;
  background-color: rgba(146, 115, 22, 0.8);
  border-radius: 30%;
  padding-bottom: 20px;
  padding-top: 0;
}

.deleteButton:hover {
  background-color: rgba(29, 129, 4, 0.67);
  cursor: pointer;
}

.archiveNoteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
  gap: 20px;
}

.archiveNoteContainer p {
  color: black;
  text-shadow: none;
}

.archiveItButton {
  height: 18px;
  width: 30px;
  text-align: center;
  background-color: rgba(146, 115, 22, 0.8);
  border-radius: 30%;
  padding-bottom: 20px;
  padding-top: 0;
}

.archiveItButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(143, 13, 13);
  cursor: pointer;
}

.getNoteBackButton {
  height: 23px;
  width: 30px;
  text-align: center;
  background-color: rgba(146, 115, 22, 0.8);
  border-radius: 30%;
  padding-bottom: 0px;
}

.getNoteBackButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(29, 129, 4, 0.67);
  cursor: pointer;
}

.trashContent {
  background-color: rgb(101, 153, 188);
  border-radius: 7px;
}

.trashNoteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
  gap: 20px;
}

.deleteItButton {
  height: 18px;
  width: 30px;
  text-align: center;
  background-color: rgba(146, 115, 22, 0.8);
  border-radius: 30%;
  padding-bottom: 20px;
  padding-top: 0;
}

.trashNoteContainer p {
  color: black;
  text-shadow: none;
}
