body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(86, 147, 187);
}

.needListAndBuyedList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amountInputBox {
  width: 70px;
}

.inputAndAddNoteButton {
  width: 280px;
  display: flex;
  justify-content: center;
}

.inputAndAddNoteButton input {
  height: 30px;
}

.notesContainer {
  width: clamp(280px, 40vw, 500px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
  gap: 5px;
}

.archiveNoteContainer {
  width: clamp(280px, 40vw, 500px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
  gap: 5px;
}

.trashNoteContainer {
  width: clamp(280px, 40vw, 500px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
  gap: 5px;
}

.notesContent {
  width: clamp(280px, 40vw, 500px);
  background-color: rgb(101, 153, 188);
  border-radius: 7px;
}

.archiveContent {
  width: clamp(280px, 40vw, 500px);
  background-color: rgb(101, 153, 188);
  border-radius: 7px;
}

.trashContent {
  width: clamp(280px, 40vw, 500px);
  background-color: rgb(101, 153, 188);
  border-radius: 7px;
}
